// main: ../../app/style.module.less
@middle-green: #68a193;
@middle-gray: #7e7878;
@body-gray: #9c9c9c52;
@body-gray-rgba: rgba(156, 156, 156, 0.2);
.pricePage {
  background-image: url(/background_hair_new_3.png);
  background-size: cover;
  .price {
    padding: 50px 100px 50px 100px;
    .list {
      display: flex;
      justify-content: center;
      gap: 5vw;
      padding-bottom: 40px;
      color: white;
      span {
        font-size: 20px;
      }
      a {
        align-self: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
      }
      a:hover {
        color: #68a193;
      }
    }
    .tables {
      padding-bottom: 50px;
      background-color: white;
      .alarm {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        font-family: "Kurale";
        font-weight: 700;
        div {
          width: 95%;
          background-color: @body-gray-rgba;
          display: flex;
          justify-content: center;
          p {
            width: 80%;
            font-family: "Alegreya SC";
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .pricePage {
    background-image: none;
    .background {
      display: none;
    }
    .price {
      padding: 50px;
      .list {
        color: black;
        a {
          color: black;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .pricePage {
    .background {
      display: none;
    }
    .price {
      padding: 50px 5px 50px 5px;
      .list {
        .slash {
          display: none;
        }
      }
    }
  }
}
