.webtn {
  width: 20px;
}
.container .contacts {
  padding: 0 50px 0 50px;
  height: 110px;
  display: grid;
  justify-content: space-between;
  background-color: #ebebeb;
  grid-template-columns: 1.4fr 1fr 1fr;
}
.container .contacts .leftside {
  font-family: Alice;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .contacts .leftside a {
  color: #7c7c7c;
  text-decoration: none;
}
.container .contacts .leftside .numbers {
  font-size: 17px;
  display: flex;
  gap: 1.5rem;
}
.container .contacts .logo {
  display: flex;
  align-items: center;
}
.container .contacts .logo .img {
  height: auto;
}
.container .contacts .rightside {
  display: flex;
  float: right;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  font-family: Alice;
}
.container .contacts .rightside p {
  margin: 0;
}
.container .menu {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 65px;
}
.container .menu .links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .menu .links ul {
  height: 100%;
  margin: 0;
  align-self: center;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.container .menu .links ul .active a {
  border-bottom: 0.2rem solid var(--secondary-color);
}
.container .menu .links ul li {
  height: 100%;
  display: inherit;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.container .menu .links ul li a {
  position: relative;
  color: #5f5f5f;
  text-decoration: none;
  display: block;
}
.container .menu .links ul li a[aria-current="page"] {
  color: #68a193;
}
.container .menu .links ul li a:before,
.container .menu .links ul li a:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  background-color: #6dc3ae;
  transition: 0.5s;
}
.container .menu .links ul li a:after {
  left: 0;
  bottom: -5px;
}
.container .menu .links ul li a:before {
  right: 0;
  top: -5px;
}
.container .menu .links ul li a:hover {
  color: #1e1f22;
}
.container .menu .links ul li a:hover:after,
.container .menu .links ul li a:hover:before {
  width: 100%;
}
.container .menu .links ul li button {
  transition: 0.5 ease;
}
.container .burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container .contacts .leftside {
    display: none;
  }
  .container .contacts .rightside {
    display: none;
  }
  .container .menu {
    display: none;
  }
  .container .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: 0.2s ease;
  }
  .container .burger:has(.active) {
    width: 100%;
  }
  .container .burger:has(.active) ~ .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  .container .burger {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    display: flex;
    transition: 0.4s ease;
  }
  .container .burger .navigation {
    padding-top: 55px;
    right: 0;
    background: #ebebeb;
    width: 0;
    height: 100%;
    top: 0;
    z-index: 5;
    position: absolute;
    overflow: auto;
    transition: all 0.4s ease;
    transform: translateX(0%);
  }
  .container .burger .navigation html::-webkit-scrollbar {
    width: 10px;
    background: #aaa;
  }
  .container .burger .navigation html::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }
  .container .burger .navigation html::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
  .container .burger .navigation html::-webkit-scrollbar-track {
    background-color: #252525;
  }
  .container .burger .navigation > div > ul > li a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .container .burger .navigation > div > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-inline-start: 10px;
    text-decoration: none;
  }
  .container .burger .navigation > div > ul > li {
    list-style: none;
    padding: 0.5rem;
  }
  .container .burger .navigation div ul {
    transition: visibility 10s ease;
    transition-delay: 10s;
  }
  .container .burger .navigation div ul li a[aria-current="page"] {
    color: #68a193;
  }
  .container .burger .navigation div ul li a span {
    font-size: 10;
    font-family: "Kaisei Opti";
  }
  .container .burger .cross {
    cursor: pointer;
    border-radius: 30%;
    background-color: #ebebeb;
    z-index: 10;
    position: fixed;
    top: 25px;
    right: 20px;
    height: 35px;
    width: 35px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .burger .cross > div {
    position: relative;
    top: 0;
    right: 0;
    background: #000000;
    height: 2px;
    width: 60%;
    transition: all 0.4s ease;
  }
  .container .burger .cross > div::before,
  .container .burger .cross > div::after {
    content: "";
    position: absolute;
    top: -10px;
    background: #000000;
    width: 100%;
    height: 2px;
    transition: all 0.4s ease;
  }
  .container .burger .cross > div::after {
    top: 10px;
  }
  .container .burger .active {
    content: "";
    z-index: 10;
    width: 60%;
    transition: all 0.4s ease;
  }
  .container .burger .active .navlinks {
    overflow-y: scroll;
  }
  .container .burger .active .navlinks ul li .location {
    font-size: 16px;
    color: #888;
  }
  .container .burger .active .navlinks ul li a:hover {
    color: #63cab9;
  }
  .container .burger .active .navlinks ul li .numbers {
    height: 260px;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .container .burger .active > div > ul {
    top: 50px;
    animation-fill-mode: forwards;
    transition: visibility 0.2s ease;
    transition-delay: 0.4s;
    animation-delay: 1s;
    animation: fadein 1s;
  }
  .container .burger .active ~ .cross > div {
    background: rgba(255, 255, 255, 0);
  }
  .container .burger .active ~ .cross > div::before {
    top: 0;
    transform: rotate(45deg);
    background: #68a193;
  }
  .container .burger .active ~ .cross > div::after {
    top: 0;
    transform: rotate(135deg);
    background: #68a193;
  }
}
@media screen and (max-width: 371px) {
  .container .contacts {
    padding: 0 10px 0 0;
  }
}
@media screen and (max-width: 550px) {
  .container .burger .cross > div {
    width: 60%;
  }
  .container .burger .active {
    width: 85%;
  }
}
.home {
  text-align: center;
  color: white;
}
.home .frame {
  position: relative;
}
.home .frame .line {
  position: absolute;
  width: 3px;
  height: 80%;
  right: 42%;
  top: 10%;
  background-color: #bdbdbd;
  opacity: 0.5;
}
.home .frame .area {
  position: absolute;
  width: 100%;
  height: 100%;
}
.home .frame .area .square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .frame .area .square li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate1 25s linear 2s infinite;
  bottom: -150px;
}
.home .frame .area .square li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.home .frame .area .square li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.home .frame .area .square li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.home .frame .area .square li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.home .frame .area .square li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.home .frame .area .square li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.home .frame .area .square li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.home .frame .area .square li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.home .frame .area .square li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.home .frame .area .square li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate1 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.home .frame .area ul {
  padding: 0;
  height: 100%;
  margin: 0;
}
.home .frame .photo {
  height: 600px;
  object-fit: cover;
  object-position: 42% 20%;
  width: 100%;
}
.home .frame .left {
  font-family: "Alegreya SC";
  position: absolute;
  bottom: 12%;
  left: 10%;
  font-size: 25px;
  word-wrap: normal;
  color: #000000;
  opacity: 0;
  animation: ani2 2s ease-out 1s forwards;
}
@keyframes ani2 {
  100% {
    opacity: 100%;
  }
}
.home .frame .centered {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 130px;
  font-family: "Parisienne", cursive;
  overflow: hidden;
  background: linear-gradient(90deg, #ffffff, black, #ffffff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.home .services {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}
.home .services p {
  color: #000000;
}
.home .services .bigtext {
  font-size: 40px;
  color: black;
}
.home .services .pictures {
  margin-top: 50px;
  justify-items: center;
  display: inline-grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  grid-column-gap: 10vw;
  grid-row-gap: 1rem;
  grid-auto-flow: row;
  justify-content: center;
}
.home .services .pictures .circles {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #68a193;
  transition: 0.5s;
}
.home .services .pictures .circles img {
  width: 100%;
  height: 100%;
  object-fit: none;
}
.home .services .pictures .circles:hover {
  border-color: #6dc3ae;
  width: 200px;
  height: 200px;
  grid-row-gap: 0rem;
}
.home .carousel {
  margin: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}
.home .carousel .bigtext {
  font-size: 40px;
  color: black;
}
.home .carousel .gallery {
  margin-top: 40px;
}
.home .carousel .gallery img {
  height: 350px;
}
.home .carousel div:nth-child(4) div {
  height: 35px;
}
.home .carousel div:nth-child(4) div p {
  width: 35px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border-radius: 40%;
  height: 100%;
  border: 1px solid;
  border-color: #68a193;
  opacity: 0.7;
}
.home .carousel div:nth-child(3) {
  text-align: unset;
}
.home .carousel div:nth-child(3) div {
  height: 35px;
}
.home .carousel div:nth-child(3) div p {
  width: 35px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border-radius: 40%;
  height: 100%;
  border: 1px solid;
  border-color: #68a193;
  opacity: 0.7;
}
.home .about {
  background-color: #ebebeb;
  padding: 50px;
  margin: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}
.home .about .bigtext {
  font-size: 40px;
  color: black;
}
.home .about .information {
  text-align: left;
  font-size: 20px;
  font-family: "Kurale";
  color: black;
}
.home .about h3 {
  text-align: left;
  color: black;
  font-family: "Alegreya SC";
}
.home .map {
  margin-top: 50px;
}
.home .map .bigtext {
  font-size: 40px;
  color: black;
}
.home .map .location {
  margin: 50px;
}
@media screen and (max-width: 1179px) {
  .home .frame .line {
    right: 40%;
  }
}
@media screen and (max-width: 1087px) {
  .home .frame .line {
    right: 37%;
  }
}
@media screen and (max-width: 1024px) {
  .home .frame .photo {
    object-position: 50% 0%;
  }
  .home .frame .centered {
    top: 10%;
    left: 30%;
  }
  .home .frame .left {
    left: 5%;
    font-size: 20px;
    bottom: 20%;
  }
  .home .frame .line {
    right: 40%;
  }
  .home .services .pictures {
    grid-template-columns: 10vw 10vw;
    grid-column-gap: 25vw;
  }
}
@media screen and (max-width: 808px) {
  .home .frame .line {
    display: none;
    right: 40%;
  }
}
@media screen and (max-width: 740px) {
  .home .frame .centered {
    top: 15%;
    left: 40%;
  }
  .home .frame .left {
    left: 5%;
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  .home .about {
    padding: 50px 20px 20px 20px;
  }
  .home .about .information {
    font-size: 16px;
  }
  .home .about .information__computer {
    display: none;
  }
  .home .frame {
    height: 595px;
    background-image: url("../../../public/background_hair.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
  }
  .home .frame .photo {
    display: none;
    object-fit: none;
    object-position: 42% 20%;
  }
  .home .frame .centered {
    transform: rotate(-90deg);
    top: 6%;
    left: -11%;
    font-size: 60px;
  }
  .home .frame .left {
    color: white;
    font-size: 20px;
  }
  .home .frame .left span:nth-child(2) {
    display: inline-block;
  }
  .home .frame .left p {
    font-size: 22px;
  }
  .home .services .pictures {
    grid-template-columns: 100%;
  }
}
.footer {
  padding: 50px 50px 50px 50px;
  height: 120px;
  background-color: #7e7878;
}
.footer .contacts {
  display: flex;
  align-items: center;
  gap: 10vw;
}
.footer .contacts .leftside {
  display: flex;
  flex-direction: column;
}
.footer .contacts .leftside a {
  color: white;
  text-decoration: none;
}
.footer .contacts .leftside a:hover {
  color: #68a193;
}
.footer .contacts .rightside {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px 50px 50px 50px;
    height: 120px;
    background-color: #7e7878;
  }
  .footer .contacts {
    gap: 5vw;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    padding: 50px 50px 3px 50px;
    background-color: #7e7878;
    height: auto;
  }
  .footer .contacts {
    align-items: start;
    flex-direction: column;
  }
}
.servicespage {
  position: relative;
  padding-top: 79px;
  background-color: rgba(138, 125, 125, 0.37);
}
.servicespage__text {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-size: 25px;
  padding: 10px 0 10px 0;
  margin: 0;
}
.servicespage__hairbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 79px;
}
.servicespage__hairbox img {
  width: calc(100% - 194px);
  height: 434px;
  object-fit: cover;
  object-position: 40% 20%;
  opacity: 0.73;
}
.servicespage__hairbox_flip {
  transform: scaleX(-1);
}
.servicespage__sender {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  width: 30vw;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 200px;
  outline: none;
  padding: 0px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.servicespage__sender:disabled {
  pointer-events: none;
}
.servicespage__sender:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.servicespage__sender:active {
  box-shadow: none;
  transform: translateY(0);
}
@media screen and (max-width: 1024px) {
  .servicespage__hairbox img {
    width: calc(100% - 100px);
    height: 434px;
    object-fit: cover;
    object-position: 40% 20%;
    opacity: 0.73;
  }
}
@media screen and (max-width: 550px) {
  .servicespage__hairbox_flip {
    object-position: 50% 20% !important;
  }
  .servicespage__hairbox img {
    width: calc(100% - 50px);
    height: 434px;
    object-fit: cover;
    object-position: 40% 20%;
    opacity: 0.73;
  }
}
.contactspage {
  padding: 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.contactspage__info {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  row-gap: 40px;
  column-gap: 10px;
}
.contactspage__contacts {
  font-family: "Alegreya SC";
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
}
.contactspage__contacts b {
  font-family: "Kaisei Opti";
  font-size: 20px;
}
.contactspage__contacts a {
  color: #68a193;
  text-decoration: none;
}
.contactspage__contacts a:hover {
  color: black;
}
.contactspage__numbers {
  font-family: "Alegreya SC";
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
}
.contactspage__numbers b {
  font-family: "Kaisei Opti";
  font-size: 20px;
}
.contactspage__schedule {
  font-family: "Alegreya SC";
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
}
.contactspage__schedule b {
  font-family: "Kaisei Opti";
  font-size: 20px;
}
@media screen and (max-width: 1175px) {
  .contactspage {
    grid-template-columns: 0.6fr 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .contactspage {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .contactspage {
    padding: 50px 20px 50px 20px;
  }
}
.eletable {
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eletable__table {
  text-align: left;
  width: 80%;
  border-collapse: collapse;
}
.eletable__table thead th {
  background-color: #6dc3ae !important;
}
.eletable__table th,
.eletable__table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.eletable__table th {
  background-color: #f2f2f2;
  text-align: left;
}
.eletable__table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.eletable__table td:nth-child(1) {
  max-width: 80%;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .eletable {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eletable__table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
  }
  .eletable__table td:nth-child(1) {
    max-width: 70%;
  }
}
.pricePage {
  background-image: url(../../../public/background_hair_new_3.png);
  background-size: cover;
}
.pricePage .price {
  padding: 50px 100px 50px 100px;
}
.pricePage .price .list {
  display: flex;
  justify-content: center;
  gap: 5vw;
  padding-bottom: 40px;
  color: white;
}
.pricePage .price .list span {
  font-size: 20px;
}
.pricePage .price .list a {
  align-self: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.pricePage .price .list a:hover {
  color: #68a193;
}
.pricePage .price .tables {
  padding-bottom: 50px;
  background-color: white;
}
.pricePage .price .tables .alarm {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-family: "Kurale";
  font-weight: 700;
}
.pricePage .price .tables .alarm div {
  width: 95%;
  background-color: rgba(156, 156, 156, 0.2);
  display: flex;
  justify-content: center;
}
.pricePage .price .tables .alarm div p {
  width: 80%;
  font-family: "Alegreya SC";
}
@media screen and (max-width: 1024px) {
  .pricePage {
    background-image: none;
  }
  .pricePage .background {
    display: none;
  }
  .pricePage .price {
    padding: 50px;
  }
  .pricePage .price .list {
    color: black;
  }
  .pricePage .price .list a {
    color: black;
  }
}
@media screen and (max-width: 550px) {
  .pricePage .background {
    display: none;
  }
  .pricePage .price {
    padding: 50px 5px 50px 5px;
  }
  .pricePage .price .list .slash {
    display: none;
  }
}
.dropdown {
  border-radius: 5%;
  background-color: #f6f7f8 !important;
  display: flex;
  align-items: start;
  padding-left: 20px;
  flex-direction: column;
  width: 230px;
  height: 270px;
  background-color: white;
  font-family: "Alegreya SC";
  box-shadow: 12px 12px 2px 1px rgba(174, 174, 187, 0.2);
  position: relative;
  position: absolute;
  z-index: 1;
  top: 43px;
  transition: 0.5s ease;
  font-size: 16px;
  justify-content: start;
}
.dropdown a {
  color: #5f5f5f !important;
  width: 100%;
}
.dropdown a:hover p {
  color: #68a193;
}
.dropdown a p {
  width: fit-content;
  margin: 14px 0 0 0;
}
.dropdown a::before,
.dropdown a::after {
  display: none;
}
@media screen and (max-width: 1024px) {
  .dropdown {
    background-color: inherit !important;
    overflow: hidden;
    position: inherit;
    box-shadow: none;
    top: 0;
    height: 270px;
  }
  .dropdown a p {
    font-family: "Alegreya SC";
  }
}
@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/parisienne/v13/E21i_d3kivvAkxhLEVZpcy8.ttf) format('truetype');
}
@font-face {
  font-family: 'Kaisei Opti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kaiseiopti/v8/QldKNThJphYb8_g6c2nlIFle.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasc/v25/taiOGmRtCJ62-O0HhNEa-a6o.ttf) format('truetype');
}
@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alice/v20/OpNCnoEEmtHa6FcJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kurale/v11/4iCs6KV9e9dXjho6eA.ttf) format('truetype');
}
