// main: ../../app/style.module.less
@middle-green: #68a193;
@light-green: #6dc3ae;
.home {
  text-align: center;
  color: white;

  .frame {
    position: relative;
    .photo {
      width: 100%;
    }
    .left {
      position: absolute;
      bottom: 10%;
      left: 100px;
      font-size: 25px;
      word-wrap: normal;
      color: #000000;
    }
    .centered {
      position: absolute;
      top: 40%;
      left: 20%;
      transform: translate(-50%, -50%);
      font-size: 80px;
      font-family: "Parisienne", cursive;
    }
  }
  .services {
    display: flex;
    flex-direction: column;
    margin: 50px;

    padding-bottom: 50px;
    border-bottom: 1px solid black;
    p {
      color: #000000;
    }
    .bigtext {
      font-size: 40px;
      color: black;
    }
    .pictures {
      margin-top: 50px;
      justify-items: center;
      display: inline-grid;
      grid-template-columns: 10vw 10vw 10vw 10vw;
      grid-column-gap: 10vw;
      grid-row-gap: 1rem;
      grid-auto-flow: row;
      justify-content: center;
      .circles {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid @middle-green;
        transition: 0.5s;
        img {
          width: 50%;
          height: 50%;
          object-fit: cover;
        }
      }
      .circles:hover {
        border-color: @light-green;
        width: 200px;
        height: 200px;
        grid-row-gap: 0rem;
      }
    }
  }
  .carousel {
    margin: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    .bigtext {
      font-size: 40px;
      color: black;
    }
    .gallery {
      margin-top: 40px;
      img {
        height: 350px;
      }
    }
    div:nth-child(4) {
      div {
        height: 35px;
        p {
          width: 35px;
          justify-content: center;
          display: inline-flex;
          align-items: center;
          border-radius: 40%;
          height: 100%;
          border: 1px solid;
          border-color: @middle-green;
          opacity: 0.7;
        }
      }
    }
    div:nth-child(3) {
      text-align: unset;
      div {
        height: 35px;
        p {
          width: 35px;
          justify-content: center;
          display: inline-flex;
          align-items: center;
          border-radius: 40%;
          height: 100%;
          border: 1px solid;
          border-color: @middle-green;
          opacity: 0.7;
        }
      }
    }
  }
  .map {
    margin-top: 50px;
    .bigtext {
      font-size: 40px;
      color: black;
    }
    .location {
      margin: 50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .services {
      .pictures {
        grid-template-columns: 10vw 10vw;
        grid-column-gap: 25vw;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .home {
    .services {
      .pictures {
        grid-template-columns: 100%;
      }
    }
  }
}
