// main: ../../app/style.module.less
@middle-green: #68a193;
@light-green: #6dc3ae;
@middle-gray: #7e7878;
@light-gray: #ebebeb;
.home {
  text-align: center;
  color: white;

  .frame {
    position: relative;
    .line {
      position: absolute;
      width: 3px;
      height: 80%;
      right: 42%;
      top: 10%;
      background-color: #bdbdbd;
      opacity: 0.5;
      // color: #ffffff;
    }
    .area {
      position: absolute;
      width: 100%;
      height: 100%;
      .square {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .square li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate1 25s linear 2s infinite;
        bottom: -150px;
      }

      .square li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
      }

      .square li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
      }

      .square li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
      }

      .square li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
      }

      .square li:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
      }

      .square li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
      }

      .square li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
      }

      .square li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
      }

      .square li:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
      }

      .square li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
      }

      @keyframes animate1 {
        0% {
          transform: translateY(0) rotate(0deg);
          opacity: 1;
          border-radius: 0;
        }

        100% {
          transform: translateY(-1000px) rotate(720deg);
          opacity: 0;
          border-radius: 50%;
        }
      }

      ul {
        padding: 0;
        height: 100%;
        margin: 0;
      }
    }
    .photo {
      height: 600px;
      object-fit: cover;
      object-position: 42% 20%;
      width: 100%;
    }
    .left {
      font-family: "Alegreya SC";
      position: absolute;
      bottom: 12%;
      left: 10%;
      font-size: 25px;
      word-wrap: normal;
      color: #000000;
      opacity: 0;
      animation: ani2 2s ease-out 1s forwards;
    }
    @keyframes ani2 {
      100% {
        opacity: 100%;
      }
    }

    .centered {
      position: absolute;
      top: 15%;
      left: 30%;
      transform: translate(-50%, -50%);
      font-size: 130px;
      font-family: "Parisienne", cursive;
      overflow: hidden;
      background: linear-gradient(90deg, #ffffff, black, #ffffff);
      background-repeat: no-repeat;
      background-size: 80%;
      animation: animate 3s linear infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
    }

    @keyframes animate {
      0% {
        background-position: -500%;
      }
      100% {
        background-position: 500%;
      }
    }
  }
  .services {
    display: flex;
    flex-direction: column;
    margin: 50px;

    padding-bottom: 50px;
    border-bottom: 1px solid black;
    p {
      color: #000000;
    }
    .bigtext {
      font-size: 40px;
      color: black;
    }
    .pictures {
      margin-top: 50px;
      justify-items: center;
      display: inline-grid;
      grid-template-columns: 10vw 10vw 10vw 10vw;
      grid-column-gap: 10vw;
      grid-row-gap: 1rem;
      grid-auto-flow: row;
      justify-content: center;
      .circles {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid @middle-green;
        transition: 0.5s;
        img {
          width: 100%;
          height: 100%;
          object-fit: none;
        }
      }
      .circles:hover {
        border-color: @light-green;
        width: 200px;
        height: 200px;
        grid-row-gap: 0rem;
      }
    }
  }
  .carousel {
    margin: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    .bigtext {
      font-size: 40px;
      color: black;
    }
    .gallery {
      margin-top: 40px;
      img {
        height: 350px;
      }
    }
    div:nth-child(4) {
      div {
        height: 35px;
        p {
          width: 35px;
          justify-content: center;
          display: inline-flex;
          align-items: center;
          border-radius: 40%;
          height: 100%;
          border: 1px solid;
          border-color: @middle-green;
          opacity: 0.7;
        }
      }
    }
    div:nth-child(3) {
      text-align: unset;
      div {
        height: 35px;
        p {
          width: 35px;
          justify-content: center;
          display: inline-flex;
          align-items: center;
          border-radius: 40%;
          height: 100%;
          border: 1px solid;
          border-color: @middle-green;
          opacity: 0.7;
        }
      }
    }
  }
  .about {
    background-color: @light-gray;
    padding: 50px;
    margin: 50px;
    .bigtext {
      font-size: 40px;
      color: black;
    }
    .information {
      text-align: left;
      font-size: 20px;
      // font-family: "system-ui";
      font-family: "Kurale";

      color: black;
    }
    h3 {
      text-align: left;
      color: black;
      font-family: "Alegreya SC";
    }
    padding-bottom: 50px;
    border-bottom: 1px solid black;
  }
  .map {
    margin-top: 50px;
    .bigtext {
      font-size: 40px;
      color: black;
    }
    .location {
      margin: 50px;
    }
  }
}
@media screen and (max-width: 1179px) {
  .home {
    .frame {
      .line {
        right: 40%;
      }
    }
  }
}

@media screen and (max-width: 1087px) {
  .home {
    .frame {
      .line {
        right: 37%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    .frame {
      .photo {
        object-position: 50% 0%;
      }
      .centered {
        top: 10%;
        left: 30%;
      }
      .left {
        left: 5%;
        font-size: 20px;
        bottom: 20%;
      }
      .line {
        right: 40%;
      }
    }
    .services {
      .pictures {
        grid-template-columns: 10vw 10vw;
        grid-column-gap: 25vw;
      }
    }
  }
}

@media screen and (max-width: 808px) {
  .home {
    .frame {
      .line {
        display: none;
        right: 40%;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .home {
    .frame {
      .centered {
        top: 15%;
        left: 40%;
      }
      .left {
        left: 5%;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .home {
    .about {
      padding: 50px 20px 20px 20px;
      .information {
        font-size: 16px;
        &__computer {
          display: none;
        }
      }
    }
    .frame {
      height: 595px;
      background-image: url("../../../public/background_hair.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: inherit;
      .photo {
        display: none;
        object-fit: none;
        object-position: 42% 20%;
      }
      .centered {
        transform: rotate(-90deg);
        top: 6%;
        left: -11%;
        font-size: 60px;
      }
      .left {
        color: white;
        font-size: 20px;
        span:nth-child(2) {
          display: inline-block;
        }
        p {
          font-size: 22px;
        }
      }
    }
    .services {
      .pictures {
        grid-template-columns: 100%;
      }
    }
  }
}
