// main: ../../app/style.module.less
@middle-green: #68a193;
@light-green: #6dc3ae;
@black-type: #1e1f22;
@light-gray: #ebebeb;
.container {
  .contacts {
    padding: 0 50px 0 50px;
    height: 110px;
    display: grid;
    justify-content: space-between;
    background-color: @light-gray;
    grid-template-columns: 1.4fr 1fr 1fr;
    .leftside {
      font-family: Alice;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        color: rgb(124, 124, 124);
        text-decoration: none;
      }
      .numbers {
        font-size: 17px;
        display: flex;
        gap: 1.5rem;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      .img {
        height: auto;
      }
    }
    .rightside {
      display: flex;
      float: right;
      justify-content: center;
      align-items: end;
      flex-direction: column;
      font-family: Alice;
      p {
        margin: 0;
      }
    }
  }
  .menu {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 65px;
    .links {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      ul {
        height: 100%;
        margin: 0;
        align-self: center;
        list-style-type: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        .active {
          a {
            border-bottom: 0.2rem solid var(--secondary-color);
          }
        }
        li {
          height: 100%;
          display: inherit;
          align-items: center;
          text-decoration: none;
          font-weight: 400;
          font-size: 1.1rem;
          text-transform: uppercase;
          a {
            &[aria-current="page"] {
              color: @middle-green;
            }
            position: relative;
            color: rgb(95, 95, 95);
            text-decoration: none;
            display: block;
            &:before,
            &:after {
              content: "";
              position: absolute;
              height: 4px;
              width: 0;
              background-color: @light-green;
              transition: 0.5s;
            }
            &:after {
              left: 0;
              bottom: -5px;
            }
            &:before {
              right: 0;
              top: -5px;
            }
            &:hover {
              color: @black-type;
            }
            &:hover:after,
            &:hover:before {
              width: 100%;
            }
          }
          button {
            transition: 0.5 ease;
          }
        }
      }
    }
  }
  .burger {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .contacts {
      .leftside {
        display: none;
      }
      .rightside {
        display: none;
      }
    }
    .menu {
      display: none;
    }

    .overlay {
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 1;
      transition: 0.2s ease;
    }

    .burger:has(.active) {
      width: 100%;
    }

    .burger:has(.active) ~ .overlay {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
    }

    .burger {
      z-index: 2;
      position: fixed;
      top: 0;
      right: 0;
      width: 0%;
      height: 100%;
      display: flex;
      transition: 0.4s ease;

      .navigation {
        html::-webkit-scrollbar {
          width: 10px;
          background: #aaa;
        }

        html::-webkit-scrollbar-thumb {
          background-color: #aaa;
          border-radius: 4px;
        }

        html::-webkit-scrollbar-thumb:hover {
          background-color: #888;
        }

        html::-webkit-scrollbar-track {
          background-color: #252525;
        }

        padding-top: 55px;
        right: 0;
        background: @light-gray;
        width: 0;
        height: 100%;
        top: 0;
        z-index: 5;
        position: absolute;
        overflow: auto;
        transition: all 0.4s ease;
        transform: translateX(0%);
        > div > ul > li {
          a {
            color: black;
            text-decoration: none;
            font-size: 1.1rem;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          }
        }

        > div > ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          position: fixed;
          padding-inline-start: 10px;
          text-decoration: none;
        }

        > div > ul > li {
          list-style: none;
          padding: 0.5rem;
        }

        div {
          ul {
            transition: visibility 10s ease;
            transition-delay: 10s;
            li {
              a {
                &[aria-current="page"] {
                  color: @middle-green;
                }
                span {
                  font-size: 10;
                  font-family: "Kaisei Opti";
                }
              }
            }
          }
        }
      }

      .cross {
        cursor: pointer;
        border-radius: 30%;
        background-color: @light-gray;
        z-index: 10;
        position: fixed;
        top: 25px;
        right: 20px;
        height: 35px;
        width: 35px;
        padding: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          position: relative;
          top: 0;
          right: 0;
          background: rgb(0, 0, 0);
          height: 2px;
          width: 60%;
          transition: all 0.4s ease;
        }

        > div::before,
        > div::after {
          content: "";
          position: absolute;
          top: -10px;
          background: rgb(0, 0, 0);
          width: 100%;
          height: 2px;
          transition: all 0.4s ease;
        }

        > div::after {
          top: 10px;
        }
      }

      .active {
        content: "";
        z-index: 10;
        width: 60%;
        transition: all 0.4s ease;
        .navlinks {
          overflow-y: scroll;
          ul {
            li {
              .location {
                font-size: 16px;
                color: #888;
              }
              a:hover {
                color: rgb(99, 202, 185);
              }
              .numbers {
                height: 260px;
              }
            }
          }
        }
      }

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .active > div > ul {
        top: 50px;
        animation-fill-mode: forwards;
        transition: visibility 0.2s ease;
        transition-delay: 0.4s;
        animation-delay: 1s;
        animation: fadein 1s;
      }

      .active ~ .cross {
        > div {
          background: rgba(255, 255, 255, 0);
        }

        > div::before {
          top: 0;
          transform: rotate(45deg);
          background: @middle-green;
        }

        > div::after {
          top: 0;
          transform: rotate(135deg);
          background: @middle-green;
        }
      }
    }
  }
}

@media screen and (max-width: 371px) {
  .container {
    .contacts {
      padding: 0 10px 0 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    .burger {
      .cross {
        > div {
          width: 60%;
        }
      }
      .active {
        width: 85%;
      }
    }
  }
}
