// main: ../../app/style.module.less

.container {
  .contacts {
    padding: 0 50px 0 50px;
    height: 110px;
    display: grid;
    justify-content: space-between;
    background-color: #ebebeb;
    grid-template-columns: 1.4fr 1fr 1fr;
    .leftside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .numbers {
        display: flex;
        gap: 1.5rem;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      .img {
        height: auto;
      }
    }
    .rightside {
      display: flex;
      float: right;
      justify-content: center;
      align-items: end;
      flex-direction: column;
      p {
        margin: 0;
      }
    }
  }
  .menu {
    height: 65px;
    .links {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      ul {
        margin: 0;

        align-self: center;
        list-style-type: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        .active {
          a {
            border-bottom: 0.2rem solid var(--secondary-color);
          }
        }
        li {
          text-decoration: none;
          font-weight: 400;
          font-size: 1.1rem;
          text-transform: uppercase;
          a {
            &[aria-current="page"] {
              color: #68a193;
            }
            position: relative;
            color: rgb(95, 95, 95);
            text-decoration: none;
            display: block;
            &:before,
            &:after {
              content: "";
              position: absolute;
              height: 4px;
              width: 0;
              background-color: #6dc3ae;
              transition: 0.5s;
            }
            &:after {
              left: 0;
              bottom: -5px;
            }
            &:before {
              right: 0;
              top: -5px;
            }
            &:hover {
              color: #1e1f22;
            }
            &:hover:after,
            &:hover:before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .contacts {
      .leftside {
        display: none;
      }
      .rightside {
        display: none;
      }
    }
    .menu {
      display: none;
    }
    .burger {
      // display: block;
      align-items: center;
      .toggler {
        /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
        z-index: 9;
        height: 50px;
        width: 50px;
        position: fixed;
        top: 25px;
        right: 20px;
        cursor: pointer;
        opacity: 0;
      }

      .hamburger {
        border-radius: 30%;
        background-color: #ebebeb;
        z-index: 8;
        position: fixed;
        top: 25px;
        right: 20px;
        height: 35px;
        width: 35px;
        padding: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .hamburger > div {
        position: relative;
        top: 0;
        right: 0;
        background: rgb(0, 0, 0);
        height: 2px;
        width: 60%;
        transition: all 0.4s ease;
      }

      .hamburger > div::before,
      .hamburger > div::after {
        content: "";
        position: absolute;
        top: -10px;
        background: rgb(0, 0, 0);
        width: 100%;
        height: 2px;
        transition: all 0.4s ease;
      }

      .hamburger > div::after {
        top: 10px;
      }

      .toggler:checked + .hamburger > div {
        background: rgba(255, 255, 255, 0);
      }

      .toggler:checked + .hamburger > div::before {
        top: 0;
        transform: rotate(45deg);
        background: #68a193;
      }

      .toggler:checked + .hamburger > div::after {
        top: 0;
        transform: rotate(135deg);
        background: #68a193;
      }

      // /* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

      .navmenu {
        right: 0;
        background: #ebebeb;
        width: 0%;
        height: 100vh;
        top: 0;
        position: fixed;
        z-index: 5;
        transition: all 0.4s ease;
      }

      .toggler:checked ~ .navmenu {
        width: 60%;
      }

      .overlay {
        transition: 0.8s;
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
      }

      .toggler:checked ~ .overlay {
        background-color: rgba(0, 0, 0, 0.5);
      }

      .navmenu > div > ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        padding-inline-start: 10px;
        visibility: hidden;
      }

      .navmenu > div > ul > li {
        list-style: none;
        padding: 0.5rem;
      }

      .navmenu > div > ul > li > a {
        color: black;
        text-decoration: none;
        font-size: 1.1rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      .toggler:checked ~ .navmenu > div > ul {
        top: 50px;
        transition: visibility 0.4s ease;
        transition-delay: 0.2s;
        visibility: visible;
      }

      .toggler:checked ~ .navmenu > div > ul > li > a:hover {
        color: orange;
      }
    }
  }
}

// @media screen and (max-width: 550px) {
//   .footer {
//     padding: 50px 50px 3px 50px;
//     background-color: #7e7878;
//     height: auto;
//     .contacts {
//       align-items: start;
//       flex-direction: column;
//     }
//   }
// }
